<%- include("./header.ejs") %>
<h2 class="mt-5 mb-3">Node-MVC</h2>
<a class="btn btn-sm btn-warning" href="/create">+ Create New User</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th class="d-print-none">
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% for (const user of users) { %>
    <tr>
      <td><%= user.id %></td>
      <td class="status"><%= user.Name %></td>
      <td class="d-print-none d-flex">
        <a class="btn btn-sm btn-warning" href="<%= '/'+user.id+'/update' %>">Update</a>
        <!-- <a class="btn btn-sm btn-danger" href="<%= '/'+user.id+'/delete' %>">Delete</a> -->
        <form id="deleteForm" method="POST" action="<%= '/'+user.id+'/delete' %>"></form>
        <a class="btn btn-sm btn-danger" onclick="document.getElementById('deleteForm').submit();">Delete</a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
<%- include("./footer.ejs") %>


